body {
    max-width: 90%;
    margin-left: 5%;
    background-color: aqua;
    text-align: center;
    font-family: Papyrus; 
    color: blueviolet;
}
header {
    background-color: azure;
    color: blueviolet;
    font-size: 19px;
}
footer {
    background-image: linear-gradient(blueviolet, aqua);
    color: azure;
    position: absolute;
    bottom: 0;
    width: 90%;
    font-size: larger;
}
#frm1 {
    display: inline-flex;
}
.button {
    background-color: white; 
    color: blueviolet; 
    border: 2px solid blueviolet;
    border-radius: 22px;
    font-family: Papyrus;
  }
  
.button:hover {
    background-color: blueviolet;
    color: white;
}
.footerButton {
    background-color: blueviolet; 
    color: azure; 
    border: 2px solid azure;
    border-radius: 22px;
    font-family: Papyrus;
}
.footerButton:hover {
    background-color: white;
    color: blueviolet;
}
.inputBox {
    border-radius: 15px;
    font-family: Papyrus;
    color: blueviolet;
    font-size: larger;
    padding-right: 55px;
    margin-right: 17px;
}
#fitem.inputBox {
    background-color: azure;
}
#Blocation {
    margin-top: 12px;
    width: 15%;
}
#listItems {
    margin-left: 333px;
    margin-top: 33px;
    background-color: #a3f7f7;
    border-style: outset;
    padding: 10px;
    border-radius: 25px;
    width: 50%;
    font-size: 25px;
}